<div class="success_details">
  <img
    src="https://www.ecole-ipssi.com/wp-content/uploads/2020/03/check-animate.gif"
  />
  <h2>
    Paiement réalisé avec succès<br />
    Merci de votre confiance.
  </h2>

  <div class="divid-2">
    <div>
      <h3>Détails du paiement</h3>
      <ul>
        <li>Boutique : Sport&Goal</li>
        <li>Adresse URL : https://sportandgoal.fr</li>
        <li>Identifiant du marchant : 123456</li>
        <li>Numéro de contrat : 98765</li>
      </ul>
    </div>

    <div>
      <h3>Carte bancaire : 15,00 €</h3>
      <ul>
        <li>Date / Heure : 29-01-2020 / 13:33:15 (GMT+1)</li>
        <li>Numéro autorisation : 1234556</li>
        <li>Numéro carte : XXXXXXXXXX4242</li>
        <li>Numéro transaction CB : 174</li>
      </ul>
    </div>
  </div>
  <div>
    <button>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
      />Facture
    </button>
    <button [routerLink]="['/']">Retour à l'accueil</button>
  </div>
</div>
