<nav>
  <ul>
    <li><a class="active" [routerLink]="['/']">Payment</a></li>
    <li><a [routerLink]="['/subscription']">Subscription</a></li>
  </ul>
</nav>
<div class="payment_card" align="center">
  <div id="form-payment">
    <form [formGroup]="paymentForm" id="payment-form">
      <img
        class="card_payment"
        src="https://www.horusrc.com/media/wysiwyg/pay_by_cards.jpg"
      />
      <div class="resume_payment">
        Paiement des frais d'inscription d'un montant de <b>18,90 €</b> :
      </div>
      <input formControlName="firstname" type="text" placeholder="Nom" />
      <input formControlName="lastname" type="text" placeholder="Prénom" />
      <div id="card-element">
        <!--Stripe.js injects the Card Element-->
      </div>

      <div class="mtop_10">
        <label>
          <input
            formControlName="terms"
            class="payment_checkbox"
            type="checkbox"
          />
          J'accepte les Conditions Générales de Vente de
          <a href="#">Sport&Goal</a>
        </label>
      </div>
      <button [disabled]="!userInfo" id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Payer</span>
      </button>
      <p class="text-center" id="card-error" role="alert"></p>
      <p class="result-message hidden text-center">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay
        again.
      </p>
      <div class="secure_payment">
        <img src="https://www.seguret-store.fr/img/cms/3D%20secure.png" />
        <div>
          <b>Paiement sécurisé et authentifié</b><br />
          Lors du paiement, votre banque vérifie l'identité du porteur de la
          carte avant de valider la transaction.
        </div>
      </div>
    </form>
  </div>
  <div id="success-page" class="hidden">
    <app-success-payment></app-success-payment>
  </div>
</div>
