<nav>
  <ul>
    <li><a [routerLink]="['/']">Payment</a></li>
    <li><a class="active" [routerLink]="['/subscription']">Subscription</a></li>
  </ul>
</nav>
<div class="sr-root">
  <div class="sr-main" style="display: flex;">
    <div class="sr-container">
      <section class="container basic-photo">
        <div>
          <h1>Basic subscription</h1>
          <h4>1 photo per month</h4>
          <div class="pasha-image">
            <img
              src="https://picsum.photos/280/320?random=4"
              width="140"
              height="160"
            />
          </div>
        </div>
        <button id="basic-btn">5,00 € par mois</button>
      </section>
      <section class="container pro-photo">
        <div>
          <h1>Pro subscription</h1>
          <h4>3 photos per month</h4>
          <div class="pasha-image-stack">
            <img
              src="https://picsum.photos/280/320?random=1"
              width="105"
              height="120"
              alt="Sample Pasha image 1"
            />
            <img
              src="https://picsum.photos/280/320?random=2"
              width="105"
              height="120"
              alt="Sample Pasha image 2"
            />
            <img
              src="https://picsum.photos/280/320?random=3"
              width="105"
              height="120"
              alt="Sample Pasha image 3"
            />
          </div>
        </div>
        <button id="pro-btn">15,00 € par mois</button>
      </section>
    </div>
    <div id="error-message"></div>
  </div>
</div>
