.success_details {
    h2 {
        color: #3391f3;
    }
    h3 {
        color: #3391f3;
    }
    ul {
        list-style: none;
        text-align: left;
    }
    img {
        width: 285px;
    }
    .divid-2 {
        display: inline-flex;
    }
    button {
        margin: 40px 15px 0;
        background: #3e709fb8;
        color: #ffffff;
        font-family: Arial, sans-serif;
        border-radius: 0 0 4px 4px;
        border: 0;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        width: 250px;
        img {
            width: 16px;
            position: relative;
            top: 2px;
            right: 10px;
        }
    }
}
